agent-go
agent-go.exe
agent-go.exe~
*/vendor
.idea/
.DS_Store
runtime/*
!runtime/qrcode/bg.jpg
!runtime/fonts
*/github.com/*
*/golang.org/*
*/gopkg.in/*
*/download/*
*.DS_Store
*.idea
*/.DS_Store
*/.idea
*/bin
*bin
*/test/*
*/test
*/vendor
logs/*